.gridBox {
	height: 40px;
	width: 40px;
	font-size: 18px;
	text-align: center;
	border: 1px solid @sudoku-lines;
}

.fullBoard {
	text-align: center;
	button {
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.headline {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 10px;
}

.explain {
	padding-left: 20px;
}

.chosen {
	color: @hot-text;
}

.rightline {
	border-right: 2px solid @sudoku-lines;
}
.leftline {
	border-left: 2px solid @sudoku-lines;
}
.bottomline {
	border-bottom: 2px solid @sudoku-lines;
}
.topline {
	border-top: 2px solid @sudoku-lines;
}
